html {
    width: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text-color);
}

html.dark {
    color: var(--dark-bg-color);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    color: var(--text-color);
    font-size: var(--font-size);
    position: relative;
    font-weight: var(--font-weight);
    background-color: var(--bg-color);
}

html.dark body {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

header,
footer {
    .stack;
    padding: var(--header-footer-padding);
    align-items: center;
}

hr {
    opacity: 0.2;
}
