:root {
    --main-color-50: #f1f1f9;
    --main-color-100: #e3e4f3;
    --main-color-200: #c7c8e6;
    --main-color-300: #abadda;
    --main-color-400: #8e91cd;
    --main-color-500: #7276c1;
    --main-color-600: #565ab4;
    --main-color-700: #393c78;
    --main-color-800: #1d1e3c;
    --main-color-900: #090912;
    --sec-color-50: #eff2f7;
    --sec-color-100: #dfe5ef;
    --sec-color-200: #bfcade;
    --sec-color-300: #9fb0ce;
    --sec-color-400: #8096be;
    --sec-color-500: #607bad;
    --sec-color-600: #40619d;
    --sec-color-700: #20468c;
    --sec-color-800: #002c7c;
    --sec-color-900: #00040c;
    --accent-color-50: #fff0d5;
    --accent-color-100: #ffe0aa;
    --accent-color-200: #ffc155;
    --accent-color-300: #ffa200;
    --accent-color-400: #d58700;
    --accent-color-500: #aa6c00;
    --accent-color-600: #805100;
    --accent-color-700: #553600;
    --accent-color-800: #2b1b00;
    --accent-color-900: #1a1000;
    --gray-color-50: #f2f3f4;
    --gray-color-100: #e5e7ea;
    --gray-color-200: #caced4;
    --gray-color-300: #b0b6bf;
    --gray-color-400: #969ea9;
    --gray-color-500: #7c8694;
    --gray-color-600: #616d7e;
    --gray-color-700: #475569;
    --gray-color-800: #242b35;
    --gray-color-900: #07090b;
}